
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Home/BuyStuff" class="btn btn-primary">Click me to see 500 page</a>

<a href="~/Home/FooBar" class="btn btn-primary">Click me to see 404 page</a>